<!-- indexヘディング -->
<div class="row exhibitionIndexHeading"></div>
<h2 class="col-lg-12 exhibitionIndexHeading_heading">開催中展覧会一覧</h2>
  <p class="col-lg-12 exhibitionIndexHeading_pragraph">
	※混雑度は <%= Time.current.ago(1.hours).strftime("%H時%M分") %> 〜 <%= Time.current.strftime("%H時%M分") %> の実況数
  </p>

<!-- indexメイン -->
<div class="d-flex flex-wrap justify-content-around exhibitionIndexMain">
<% @exhibitions.each do |exhibition| %>
  <% if "Now" == exhibition.status %>
  <!-- 開催中のみ表示 -->
      <ul class="flex-colmun exhibitionIndexMain-ul">
		<li class="exhibitionIndexMain-ul_li-name"><%= link_to exhibition.name, exhibition_path(exhibition), class: "exhibitionIndexMain-ul_li-nameLink" %>
		  <!-- クリップ未・済の分岐 -->
		  <% if exhibition.clipped_by?(current_user) %>
		  	<!-- クリップ済み -->
   		    <%= link_to exhibition_clips_path(exhibition), class: "exhibitionIndexMain-ul_li-clippedLink", method: :delete do %>
      	      <i class="fas fa-paperclip"></i>
            <% end %>
          <% else %>
          	<!-- 未クリップ -->
            <%= link_to exhibition_clips_path(exhibition), class: "exhibitionIndexMain-ul_li-clipLink", method: :post do %>
      	      <i class="fas fa-paperclip"></i>
            <% end %>
          <% end %>
        </li>
		<li class="exhibitionIndexMain-ul_li-place">会場：<%= exhibition.place %></li>
		<li class="exhibitionIndexMain-ul_li-period">
			会期：<%= exhibition.start.strftime("%Y年%m月%d日") %> 〜 <%= exhibition.end.strftime("%Y年%m月%d日") %>
		</li>
		<li class="exhibitionIndexMain-ul_li-image"><%= link_to (exhibition) do %>
		  <%= image_tag exhibition.image.url(:thumb), class: "exhibitionIndexMain-ul_li-imageTag" %><br>
		  <% end %>
		</li>
		<!-- 混雑度投稿の未・済の分岐 -->
		<% if exhibition.congested_by?(current_user) %>
		  <!-- 投稿済み -->
		  <li class="d-flex flex-row justify-content-around exhibitionIndexMain-ul_li-buttons">
			<button class="exhibitionIndexMain-ul_li-button btn btn-secondary" disabled="disabled">混んでる<br>
			  <%= exhibition.congestions.where(condition: "high").count %>人</button>
			<button class="exhibitionIndexMain-ul_li-button btn btn-secondary" disabled="disabled">やや混雑<br>
			  <%= exhibition.congestions.where(condition: "middle").count %>人</button>
			<button class="exhibitionIndexMain-ul_li-button btn btn-secondary" disabled="disabled">空いてる<br>
			  <%= exhibition.congestions.where(condition: "low").count %>人</button>
		  </li>
		<% else %>
		  <!-- 未投稿 -->
		  <li class="d-flex flex-row justify-content-around exhibitionIndexMain-ul_li-yetButtons">
		  	<%= button_to exhibition_congestions_path(exhibition), class: "exhibitionIndexMain-ul_li-yetButton btn btn-secondary", params: { condition: "high" } do %>混んでる<br>
		  	  <%= exhibition.congestions.where(condition: "high").count %>人
		    <% end %>
		    <%= button_to exhibition_congestions_path(exhibition), class: "exhibitionIndexMain-ul_li-yetButton btn btn-secondary", params: { condition: "middle" } do %>やや混雑<br>
		  	  <%= exhibition.congestions.where(condition: "middle").count %>人
		    <% end %>
		    <%= button_to exhibition_congestions_path(exhibition), class: "exhibitionIndexMain-ul_li-yetButton btn btn-secondary", params: { condition: "low" } do %>空いてる<br>
		  	  <%= exhibition.congestions.where(condition: "low").count %>人
		    <% end %>
		  </li>
		<% end %>
	  </ul>
  <% end %>
<% end %>
</div>
