<h1>開催中展覧会一覧</h1>
<p>※混雑度は1時間の実況数</p>

<!-- 展覧会一覧表示部分 -->
<!-- <div class="flex-row exhibitionRow-upper"> -->
<div class="row exhibitionIndexRow">
<% @exhibitions.each do |exhibition| %>
  <% if "Now" == exhibition.status %>
  <!-- 開催中のみ表示 -->
	  <div class="col-xs-3 col-xs-offset-1 exhibitionIndexRow_col">
		<%= link_to exhibition.name, exhibition_path(exhibition), class: "exhibitionIndexRow_col-name" %><br>
		<span class="exhibitionIndexRow_col-place"><%= exhibition.place %></span><br>
		<span class="exhibitionIndexRow_col-start">開催期間：<%= exhibition.start %> 〜 </span>
		<span class="exhibitionIndexRow_col-end"><%= exhibition.end %></span><br>
		<%= link_to (exhibition) do %>
		  <%= image_tag exhibition.image.to_s %>
		<% end %>
	  </div>
  <% end %>
<% end %>
</div>
