<!-- ヘディング -->
<h2 class="exhibitionIndexHeading-heading">開催中展覧会一覧</h2>
<p class="exhibitionIndexHeading-pragraph">※混雑度は1時間の実況数</p>

<!-- メイン -->
<div class="row exhibitionIndexRow">
<% @exhibitions.each do |exhibition| %>
  <% if "Now" == exhibition.status %>
  <!-- 開催中のみ表示 -->
    <ul class="col-lg-3 offset-lg-1 exhibitionIndexRow_col">
		<li class=""><%= link_to exhibition.name, exhibition_path(exhibition), class: "exhibitionIndexRow_col-name" %>
		  <!-- クリップ未・済の分岐 -->
		  <% if @exhibition.clipped_by?(user) %>
  		    <li>
   		      <%= link_to exhibition_clips_path(@exhibition), method: :delete do %>
      	        <i class="fas fa-paperclip"></i>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to exhibition_clips_path(@exhibition), method: :post do %>
                <i class="fas fa-clipboard-check"></i>
              <% end %>
            </li>
          <% end %>
        </li>
		<li class="exhibitionIndexRow_col-place"><%= exhibition.place %></li>
		<li class="exhibitionIndexRow_col-period">開催期間：<br><%= exhibition.start %> 〜 <%= exhibition.end %></li>
		<%= link_to (exhibition) do %>
		  <%= image_tag exhibition.image.to_s %><br>
		<% end %>
		<!-- 混雑度投稿で同じユーザーが投稿していないか確認 -->
		<%# if exhibition.congested_by?(current_user) %>
		  <button class="exhibitionIndexRow_col-highButton btn btn-secondary" disabled="disabled">　混んでる　<br>
		  	<%= exhibition.congestions.where(condition: "high").count %>人</button>
		  <button class="exhibitionIndexRow_col-mddleButton btn btn-secondary" disabled="disabled">やや混んでる<br>
		  	<%= exhibition.congestions.where(condition: "middle").count %>人</button>
		  <button class="exhibitionIndexRow_col-lowButton btn btn-secondary" disabled="disabled">　空いてる　<br>
		  	<%= exhibition.congestions.where(condition: "low").count %>人</button>
		<%# else %>
		  <%= button_to exhibition_congestions_path(exhibition), class: "exhibitionIndexRow_col-highButton btn btn-secondary", params: { condition: "high" } do %>　混んでる　<br>
		  	<%= exhibition.congestions.where(condition: "high").count %>人</button>
		  <% end %>
		  <%= link_to exhibition_congestions_path(exhibition), class: "exhibitionIndexRow_col-mddleButton btn btn-secondary", params: { condition: "middle" } do %>やや混んでる<br>
		  	<%= exhibition.congestions.where(condition: "middle").count %>人</button>
		  <% end %>
		  <%= link_to exhibition_congestions_path(exhibition), class: "exhibitionIndexRow_col-lowButton btn btn-secondary", params: { condition: "low" } do %>　空いてる　<br>
		  	<%= exhibition.congestions.where(condition: "low").count %>人</button>
		  <% end %>
		<%# end %>
	  </div>
	</ul>
  <% end %>
<% end %>
</div>
