<!-- showヘディング -->
<h2 class="userShowHeading">マイページ</h2>
<!-- showメイン1 -->
<h4 class="userShowMain1-heading">登録情報</h4>
<div class="userShowMain1-info">
  <div class="row userShowMain1-info">
    <div class="col-lg-2 col-md-3 col-5 userShowMain1-info_article-name">名前</div>
    <div class="col-lg-3 col-md-4 col-7 userShowMain1-info_content-name"><%= current_user.name %></div>
  </div>
  <div class="row userShowMain1-info">
    <div class="col-lg-2 col-md-3 col-5 userShowMain1-info_article-email">メールアドレス</div>
    <div class="col-lg-3 col-md-4 col-7 userShowMain1-info_content-email"><%= current_user.email %></div>
  </div>
  <div class="row userShowMain1-info">
    <div class="col-lg-1 col-md-2 col-3 btn btn-primary userShowMain1-info_edit"><%= link_to "変更", edit_user_path(current_user) , class: "userShowMain1-info_editLink"%></div>
    <div class="col-lg-1 col-md-2 col-3 userShowMain1-info_leave"><%= link_to "退会する", users_leave_users_path(current_user) , class: "userShowMain1-info_leaveLink" %></div>
  </div>
</div>
<!-- showメイン2 -->
<h4 class="userShowMain2-heading">クリップした展覧会</h4>
<div class="row userShowMain2-clip">
  <table class="table col-lg-12 userShowMain2-clip_table">
  	<thead class="thead-dark userShowMain2-clip_tableThead">
  	  <tr>
  		<th>会場</th>
  		<th>展覧会名</th>
  		<th>開催期間</th>
      <th></th>
  	  </tr>
  	</thead>
  	<tbody>
  	  <% @exhibitions.each do |exhibition| %>
        <tr>
  	      <td><%= exhibition.place %></td>
  	      <td><%= link_to exhibition.name, exhibition_path(exhibition), class: "userShowMain2-clip_exhibitionLink" %></td>
  	      <td><%= exhibition.start.strftime("%Y年%m月%d日")%> 〜 <%= exhibition.end.strftime("%Y年%m月%d日") %></td>
          <td><%= link_to "削除", exhibition_clips_path(exhibition), class: "userShowMain2-clip_clippedLink", method: :delete %></td>
        </tr>
  	 <% end %>
  	</tbody>
  </table>
  <!-- ページネーション -->
  <%= paginate @exhibitions, class: "userShowMain2-clip_paginate" %>
</div>