<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>わかるくん - リアルタイム投稿アプリ〜これで上野の美術館・博物館の混雑度がわかる〜</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <header class="appHeader">
      <nav class="appHeader_nav">
        <span class="appHeader_nav-logo"><%= link_to 'Wakarukun', root_path %></span>
        <ul class="appHeader_nav-navList">
          <!-- ログイン条件分岐 -->
          <% if user_signed_in? %>
            <li class="appHeader_nav-about"><%= link_to 'About', homes_about_path %></li>
            <li class="appHeader_nav-exhibitions"><%= link_to 'Exhibitions', exhibitions_path %></li>
            <li class="appHeader_nav-mypage"><%= link_to 'My page', user_path(current_user) %></li>
            <li class="appHeader_nav-logout"><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>
          <% else  %>
            <li class="appHeader_nav-about"><%= link_to 'About', homes_about_path %></li>
            <li class="appHeader_nav-login"><%= link_to 'Log in', new_user_session_path %></li>
            <li class="appHeader_nav-signup"><%= link_to 'Sign up',new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <!-- メイン -->
    <main class="appMain">
      <div class="container appMain_container">
        <section class="appSection">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
      </section>
      <%= yield %>
      <div class="row appHeader_row">
      </div>
      </div>
    </main>
    <!-- フッター -->
    <footer class="appFooter">&copy;copyright student</footer>
  </body>
</html>
