<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>わかるくん - リアルタイム投稿アプリ〜これで上野の美術館・博物館の混雑度がわかる〜</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <!-- ヘッダー -->
    <header class="appHeader">
      <nav class="appHeader_nav">
        <span class="appHeader_nav-logo"><%= link_to 'Wakarukun', root_path, class: "appHeaderA" %></span>
        <span class="appHeader_nav-menu">
          <!-- ログイン条件分岐 -->
          <% if user_signed_in? %>
            <span class="appHeader_nav-menu_about"><%= link_to 'About', homes_about_path, class: "appHeaderA" %></span>
            <span class="appHeader_nav-menu_exhibitions"><%= link_to 'Exhibitions', exhibitions_path, class: "appHeaderA" %></span>
            <span class="appHeader_nav-menu_mypage"><%= link_to 'My page', user_path(current_user), class: "appHeaderA" %></span>
            <span class="appHeader_nav-menu_logout"><%= link_to 'Log out', destroy_user_session_path, class: "appHeaderA", method: :delete %></span>
          <% else %>
            <span class="appHeader_nav-menu_about"><%= link_to 'About', homes_about_path, class: "appHeaderA" %></span>
            <span class="appHeader_nav-menu_login"><%= link_to 'Log in', new_user_session_path, class: "appHeaderA" %></span>
            <span class="appHeader_nav-menu_signup"><%= link_to 'Sign up',new_user_registration_path, class: "appHeaderA" %></span>
          <% end %>
        </ul>
      </nav>
    </header>
    <!-- メイン -->
      <div class="container-fluid appMain_container">
        <section class="appSection">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </section>
      <%= yield %>
      </div>
    <!-- フッター -->
    <footer class="container-fluid appFooter">
      <div class="row appFooter">
        <span class="col-lg-12 appFooter_copyright">&copy;copyright student</span>
      </div>
    </footer>
  </body>
</html>
