<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>わかるくん - リアルタイム投稿アプリ〜これで上野の美術館・博物館の混雑度がわかる〜</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <!-- ヘッダー -->
    <header class="container-fluid appHeader">
      <nav class="row appHeader_nav">
        <div class="col-lg-1 col-md appHeader_nav-logo"><%= link_to 'Wakarukun', root_path, class: "appHeader_link" %></div>
          <!-- ログイン条件分岐 -->
          <% if user_signed_in? %>
            <div class="col-lg-1 offset-lg-7 col-md appHeader_nav-about"><%= link_to 'About', homes_about_path, class: "appHeader_link" %></div>
            <div class="col-lg-1 col-md appHeader_nav-exhibition"><%= link_to 'Exhibition', exhibitions_path, class: "appHeader_link" %></div>
            <div class="col-lg-1 col-md appHeader_nav-mypage"><%= link_to 'Mypage', user_path(current_user), class: "appHeader_link" %></div>
            <div class="col-lg-1 col-md appHeader_nav-logout"><%= link_to 'Logout', destroy_user_session_path, class: "appHeader_link-blue", method: :delete %></div>
          <% else %>
            <div class="col-lg-1 offset-lg-8 col-md appHeader_nav-about"><%= link_to 'About', homes_about_path, class: "appHeader_link" %></div>
            <div class="col-lg-1 col-md appHeader_nav-login"><%= link_to 'Log in', new_user_session_path, class: "appHeader_link" %></div>
            <div class="col-lg-1 col-md appHeader_nav-signup"><%= link_to 'Sign up',new_user_registration_path, class: "appHeader_link-blue" %></div>
          <% end %>
      </nav>
    </header>
    <!-- メイン -->
      <div class="container appMain_container">
        <section class="appSection">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </section>
      <%= yield %>
      </div>
    <!-- フッター -->
    <footer class="container-fluid appFooter">
      <div class="row appFooter">
        <span class="col-lg-12 appFooter_copyright">&copy;copyright student</span>
      </div>
    </footer>
  </body>
</html>
